.fade {

    &-leave {
        transition: all 500ms ease;
        opacity: 0;

        &-active {
            opacity: 0;
        }
    }


    &-enter {
        transition: all 500ms ease;
        opacity: 1;

        &-active {
            opacity: 1;
        }
    }
}