@import './helpers';
@import './fonts';
@import './buttons';
@import './transitions';

a {
    color: rgb(48, 48, 161);
}

html,
body {
background-color: #1f2936;
color: rgb(243, 243, 243);
}

input {
    color: #444;
}